<%= render 'shared/errors', obj: @guidance %>

<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
  <%= form_for @guidance do |c| %>
    <div class='form-group'>
      <p>
        <%= c.label :title, "Title of your guidance" %><br>
        <%= c.text_field :title, class: "form-control", autofocus: true %>
      </p>
    </div>
    <div class='form-group'>
      <p>
        <%= c.label :guidance, "Growth guidance" %><br>
        <%= c.text_area :guidance, class: "form-control" %>
      </p>
    </div>
    <div class='form-group'>
      <p>
        <%= c.label :author, "Author" %><br>
        <%= c.text_field :author, class: "form-control" %>
      </p>
    </div>
    <div class='form-group'>
      <p>
        <%= c.label :author_bio, "Author Bio" %><br>
        <%= c.text_field :author_bio, class: "form-control" %>
      </p>
    </div>
    <div class='form-group'>
      <p>
        <%= c.label :email, "Author's email" %><br>
        <%= c.text_field :email, class: "form-control" %>
      </p>
    </div>
    <div class='form-group'>
      <p>
        <%= c.label :web, "Author website" %><br>
        <%= c.text_field :web, class: "form-control" %>
      </p>
    </div>
    
    <div class='form-group'>
      <p>
        <%= c.submit class: 'btn btn-primary btn-lg' %><br>
      </p>
    </div>
  
  <% end %>
  <div class="col-xs-4 col-xs-offset-4">
    <%= link_to "Cancel request and return to guidance listing", guidances_path %>
  </div>
 </div>
</div>