<%= render 'shared/errors', obj: @concept %>

<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
  <%= form_for @concept do |c| %>
    <div class='form-group'>
      <p>
        <%= c.label :description, "Describe you Product or Service" %><br>
        <%= c.text_area :description, rows: 4, class: "form-control", autofocus: true %>
      </p>
    </div>
    <div class='form-group'>
      <p>
        <%= c.label :status, "Status of your Product or Service" %><br>
        <%= c.text_field :status, class: "form-control" %>
      </p>
    </div>
    <div class='form-group'>
      <p>
        <%= c.label :link, "Link to more information about your Product or Service" %><br>
        <%= c.text_field :link, class: "form-control" %>
      </p>
    </div>
    <div class='form-group'>
      <p>
        <%= c.label :category, "Select on or more categories that best describe your Product or Service" %><br>
        <%= c.text_field :category, class: "form-control" %>
      </p>
    </div>
    <div class='form-group'>
      <p>
        <%= c.label :name, "Name" %><br>
        <%= c.text_field :name, class: "form-control" %>
      </p>
    </div>
    <div class='form-group'>
      <p>
        <%= c.label :email, "Email address for inquires" %><br>
        <%= c.text_field :email, class: "form-control" %>
      </p>
    </div>
    <div class='form-group'>
      <p>
        <%= c.label :need, "What resources do you need other than money" %><br>
        <%= c.text_area :need, class: "form-control" %>
      </p>
    </div>
    <div class='form-group'>
      <p>
        <%= c.submit class: 'btn btn-primary btn-lg' %><br>
      </p>
    </div>
  <% end %>
  <div class="col-xs-4 col-xs-offset-4">
    <%= link_to "Cancel request and return to concept listing", concepts_path %>
  </div>
 </div>
</div>