<h1>showing selected concept</h1>

<p>
  Description: <%= @concept.description %>
</p>
<p>
  Status: <%= @concept.status %>
</p>
<p>
  Link: <%= @concept.link %>
</p>
<p>
  Category: <%= @concept.category %>
</p>
<p>
  Name: <%= @concept.name %>
</p>
<p>
  Email: <%= @concept.email %>
</p>
<p>
  Need: <%= @concept.need %>
</p>